In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Toy data.csv")
df
df.set_index('Year')

      S&P 500   Apple
Year
2013  1691.75   68.96
2014  1977.80  100.11
2015  1884.09  109.06
2016  2151.13  112.18
2017  2519.36  154.12

In [6]:
print("Correlation between S&P 500 and Apple Stock: ",df["S&P 500"].corr(df["Apple"],method = 'pearson' ) )

Correlation between S&P 500 and Apple Stock:  0.95470460550847